# --- Identidad del servidor ---
SERVER_NAME=Mi Server PZ B42
SERVER_PUBLIC_NAME=Mi Server PZ B42
SERVER_PUBLIC_DESCRIPTION=Servidor privado vanilla, sin mods, Build 42
SERVER_PUBLIC=false

# --- Puertos del juego (UDP) ---
SERVER_PORT=16261
SERVER_PORT2=16262

# --- Reglas de juego ---
SERVER_PASSWORD=
SERVER_MEMORY=2048m
RCON_PASSWORD=

# --- Admin del juego ---
ADMIN_PASSWORD=cambia_este_password_admin

# --- Panel Web ---
PANEL_USERNAME=admin
PANEL_PASSWORD=cambia_este_password_panel

# --- No suele ser necesario tocar ---
SERVER_INI_NAME=servertest.ini
SANDBOX_NAME=servertest_SandboxVars.lua

# --- IPs para el panel web ---
LOCAL_IP=
PUBLIC_IP=
